body {
  margin: auto;
  background-color: #08283d;
}

p {
  margin-top: 0%;
  margin-bottom: 0%;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.details {
  /* width: 95%; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: #99d3fa;
  width: 25%;
  /* height: max-content; */
  margin: 2vmin;
  padding: 1vmin;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 8px 6px #ffffffd7;
}

.projectbox {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  padding: 0%;
  border: 2px solid black;
  border-top: 0ch;
  border-left: 0ch;
  border-right: 0ch;
}

.github {
  width: 2em;
}

.pabox {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  padding: 0%;
  border: 2px solid black;
  border-top: 0ch;
  border-left: 0ch;
  border-right: 0ch;
}

.mentorbox {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  padding: 0%;
  border: 2px solid black;
  border-top: 0ch;
  border-left: 0ch;
  border-right: 0ch;
}

.ANNOUNCE {
  background-color: whitesmoke;
  padding: 1vmin;
  font-size: 1.5em;
  margin-bottom: 2em;
  text-align: center;
  color: black;
  font-weight: 900;
  word-spacing: 2vmin;
  margin-top: 2vmin;
  /* height: 5em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-size: 3vmin;
  margin: 2vmin;
  padding: 1vmin;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 5px 5px rgb(0, 0, 0);
}

button:hover {
  cursor: pointer;
  font-size: 3vmin;
  margin: 2vmin;
  padding: 1vmin;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px 10px #0099ff;
}

@media only screen and (max-width: 600px) {
  .details {
    /* width: 95%; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .project {
    background-color: #99d3fa;
    width: 85%;
    height: fit-content;
    margin: 2vmin;
    padding: 1vmin;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 8px 6px #ffffffd7;
  }
}
